docker/nodered/flows.json
[{"id":"95a74a77.cf1ab","type":"tab","label":"InfluxDB Sink","disabled":false,"info":""},{"id":"67eeda7f.a92abc","type":"tab","label":"Telemetry simulation","disabled":false,"info":""},{"id":"614d86ae.745558","type":"tab","label":"BitMex Data Source","disabled":false,"info":""},{"id":"ffa476c7.4c5ba8","type":"websocket-client","z":"","path":"wss://www.bitmex.com/realtime","tls":"","wholemsg":"false"},{"id":"2f7f7f22.5608e","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"masterUC","name":"","usetls":false,"tls":""},{"id":"d61a84ef.9824c8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c920581a.293698","type":"websocket in","z":"614d86ae.745558","name":"BitMex","server":"","client":"ffa476c7.4c5ba8","x":130,"y":200,"wires":[["990dd005.33b24","1f436f1d.856381"]]},{"id":"990dd005.33b24","type":"debug","z":"614d86ae.745558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":381,"y":136,"wires":[]},{"id":"fc84804b.42f9a","type":"inject","z":"614d86ae.745558","name":"Collector starter","topic":"","payload":"{\"op\":\"subscribe\",\"args\":[\"trade:XBTUSD\"]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"2","x":180,"y":320,"wires":[["ab076590.190658"]]},{"id":"ab076590.190658","type":"websocket out","z":"614d86ae.745558","name":"BitMex","server":"","client":"ffa476c7.4c5ba8","x":395,"y":318,"wires":[]},{"id":"1f436f1d.856381","type":"function","z":"614d86ae.745558","name":"Process trade","func":"var input = JSON.parse(msg.payload);\nfor (var index in input.data) {\n    var trade = input.data[index];\n    var current_msg = {\n        measurement: \"bitmex.trades\",\n        payload: [{\n                price: trade.price,\n                size: trade.size,\n            },\n            {\n                side: trade.side,\n                pair: \"BTCUSD\"\n            }\n        ]\n    }\n    node.log(current_msg);\n    node.send(current_msg);\n}","outputs":1,"noerr":0,"x":387,"y":220,"wires":[["707f7410.8391cc"]]},{"id":"707f7410.8391cc","type":"influxdb out","z":"614d86ae.745558","influxdb":"2f7f7f22.5608e","name":"","measurement":"","precision":"","retentionPolicy":"","x":650,"y":219,"wires":[]},{"id":"6d9e2643.c2cea","type":"mqtt out","z":"67eeda7f.a92abc","name":"mqtt broker","topic":"v1.devices.telemetry","qos":"","retain":"","broker":"d61a84ef.9824c8","x":817.5,"y":282,"wires":[]},{"id":"3541fe2d.b30602","type":"inject","z":"67eeda7f.a92abc","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["4cf0a3d1.c9dc8c"]]},{"id":"4cf0a3d1.c9dc8c","type":"function","z":"67eeda7f.a92abc","name":"MultiSensor Device Simulator","func":"// Retorna un número aleatorio entre min (incluido) y max (excluido)\nfunction getRandom(min, max) {\n  return Math.random() * (max - min) + min;\n}\n\n\nvar telemetry = {\n    \"deviceId\":\"sensor1\",\n    \"deviceType\":\"multisensor\",\n    \"temperature\": getRandom(0, 40).toFixed(2),\n    \"noise\": getRandom(0, 200).toFixed(2),\n    \"humidity\": getRandom(0, 100).toFixed(2)\n}\n\nmsg.payload = telemetry;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["6d9e2643.c2cea","9238fc4a.9c4078"]]},{"id":"9238fc4a.9c4078","type":"debug","z":"67eeda7f.a92abc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":818.5,"y":156,"wires":[]},{"id":"d359cdb4.35b28","type":"debug","z":"95a74a77.cf1ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":586.5,"y":125,"wires":[]},{"id":"54e4ba0b.05f844","type":"mqtt in","z":"95a74a77.cf1ab","name":"All MQTT topics","topic":"#","qos":"2","broker":"d61a84ef.9824c8","x":120,"y":300,"wires":[["4b1eca86.1c0c6c"]]},{"id":"4b1eca86.1c0c6c","type":"function","z":"95a74a77.cf1ab","name":"Converter MQTT -> InfluxDb","func":"var message = JSON.parse(msg.payload);\nvar metric =  {\n    measurement: msg.topic,\n    payload: [{\n        \n    },{\n        \n    }]\n}\n\nfor (var index in message) {\n    if (isNaN(message[index])) {\n        metric.payload[1][index] = message[index];\n    } else {\n        metric.payload[0][index] = parseFloat(message[index]);\n    }\n}\n\nreturn metric;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["b0fd788d.9c4be","d359cdb4.35b28"]]},{"id":"b0fd788d.9c4be","type":"influxdb out","z":"95a74a77.cf1ab","influxdb":"2f7f7f22.5608e","name":"","measurement":"","precision":"","retentionPolicy":"","x":768,"y":431,"wires":[]},{"id":"1ed8e296.48cd8d","type":"comment","z":"95a74a77.cf1ab","name":"InfluxDB Sink","info":"Los sumideros de datos son procesos que se encargan\nde reestructurar los datos que llegan desde el broker\ny enviarlas a la base de datos analítica.\n\nEn concreto este sumidero escucha mensajes en todos\nlos canales (topics) y los enruta hacia la base de\ndatos análitica (InfluxDB).","x":230,"y":140,"wires":[]},{"id":"400b5f89.36d7f8","type":"comment","z":"67eeda7f.a92abc","name":"Telemetry simulator","info":"Flujo que simula el envío de datos de telemetría\nde un sensor que mide temperatura, humedad y ruido.","x":190,"y":100,"wires":[]},{"id":"cd46c6f2.11817","type":"comment","z":"614d86ae.745558","name":"Bitmex Data Simulator","info":"Datos relativos a los mercados de futuros de \nbitcoin en el broker BitMEx.","x":160,"y":80,"wires":[]}]