docker/nodered/flows.json
[{"id":"614d86ae.745558","type":"tab","label":"BitMex Data Source","disabled":false,"info":""},{"id":"ffa476c7.4c5ba8","type":"websocket-client","z":"","path":"wss://www.bitmex.com/realtime","tls":"","wholemsg":"false"},{"id":"2f7f7f22.5608e","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"masterUC","name":"","usetls":false,"tls":""},{"id":"c920581a.293698","type":"websocket in","z":"614d86ae.745558","name":"BitMex","server":"","client":"ffa476c7.4c5ba8","x":111,"y":132,"wires":[["990dd005.33b24","1f436f1d.856381"]]},{"id":"990dd005.33b24","type":"debug","z":"614d86ae.745558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":362,"y":68,"wires":[]},{"id":"fc84804b.42f9a","type":"inject","z":"614d86ae.745558","name":"Collector starter","topic":"","payload":"{\"op\":\"subscribe\",\"args\":[\"trade:XBTUSD\"]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"2","x":157,"y":288,"wires":[["ab076590.190658"]]},{"id":"ab076590.190658","type":"websocket out","z":"614d86ae.745558","name":"BitMex","server":"","client":"ffa476c7.4c5ba8","x":372,"y":286,"wires":[]},{"id":"1f436f1d.856381","type":"function","z":"614d86ae.745558","name":"Process trade","func":"var input = JSON.parse(msg.payload);\nfor (var index in input.data) {\n    var trade = input.data[index];\n    var current_msg = {\n        measurement: \"bitmex.trades\",\n        payload: [{\n                price: trade.price,\n                size: trade.size,\n            },\n            {\n                side: trade.side,\n                pair: \"BTCUSD\"\n            }\n        ]\n    }\n    node.log(current_msg);\n    node.send(current_msg);\n}","outputs":1,"noerr":0,"x":368,"y":152,"wires":[["707f7410.8391cc"]]},{"id":"707f7410.8391cc","type":"influxdb out","z":"614d86ae.745558","influxdb":"2f7f7f22.5608e","name":"","measurement":"","precision":"","retentionPolicy":"","x":631,"y":151,"wires":[]}]